/* .results-items-container {
    position: absolute;
    left: 32px;
    top: 0;
    width: calc(25vw + 3rem);
    overflow: auto;
}

.container.content-container {
    position: relative;
    overflow-y: hidden;
}
 */
