#app {
    min-height: 100%;
}

.box-wrapper {
    margin-top: 16px;
    .modal-close-button {
        display: none;
    }
}

.container.content-container {
    position: relative;
}

.sticky-search-bar {
    pointer-events: none;
}

.search-input-wrapper {
    position: relative;
    border-radius: 4px;
    pointer-events: all;

    .search-results {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        width: 100%;
        height: auto;
        max-height: 50vh;
        overflow-y: auto;
        background-color: #f5f5f5;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
            0px 1px 1px 0px rgba(0, 0, 0, 0.14),
            0px 2px 1px -1px rgba(0, 0, 0, 0.12);

        .search-result {
            cursor: pointer;
            padding: 0.65rem 0.35rem;
            color: rgba(0, 0, 0, 0.85);
            font-size: 0.875rem;
            background-color: #fff;
            transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0s,
                color 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0s;
            &.active,
            &:hover {
                background-color: darken(#26a69a, 7);
                color: #fff !important;

                li {
                    color: #fff !important;
                }
            }
            &:not(:last-of-type) {
                border-bottom: 3px solid #f5f5f5;
            }
        }
    }

    .search-input-container {
        position: relative;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
            0px 1px 1px 0px rgba(0, 0, 0, 0.14),
            0px 2px 1px -1px rgba(0, 0, 0, 0.12);
        &.show-results {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            .search-results {
                display: block;
            }
        }
    }
}

.results-items-background {
    display: inline-block;
    position: fixed;
    top: 64px;
    left: calc(50% - (640px - 32px));
    width: 25rem;
    height: calc(100vh - 64px);
    background-color: #fff;
    border-right: 1.5px solid rgba(0, 0, 0, 0.12);

    .results-item {
        position: relative;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0s,
            color 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0s;

        &:last-of-type {
            margin-bottom: 8vmin;
        }

        &:not(:last-of-type) {
            &::before {
                position: absolute;
                content: "";
                height: 1px;
                width: 100%;
                right: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.12);
            }
        }

        .item-property {
            display: block;
            text-align: left;
            padding: 0.5rem 1rem;
            margin: 0;
            font-size: 1rem;
            background-color: transparent;
            cursor: pointer;
            transition: background-color 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0s;
            @extend .no-select;

            &.item-distance {
                padding-top: 0;
                padding-bottom: 0;
                font-size: 0.8rem;
                color: rgba(0, 0, 0, 0.47);
            }

            &.item-address {
                font-size: 0.9rem;
                color: rgba(0, 0, 0, 0.85);
            }
        }

        &.active,
        &:hover {
            background-color: darken(#26a69a, 7);
            color: #fff !important;

            li {
                color: #fff !important;
            }
        }
    }
}

.item-description-container {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 3vmin 0;
}

/* LEAFLET STYLES */

.leaflet-control-container {
    position: absolute;
    right: 56px;
    top: 40%;
    @extend .no-select;
}
