@charset "UTF-8";

*::selection {
    background: #26a69a;
    color: #fff;
}

*::-moz-selection {
    background: #26a69a;
    color: #fff;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(#26a69a, 0.75);
    border-radius: 10px;
}

// LOAD FONTS
@font-face {
    font-family: "ConcertOne-Regular";
    src: url("./fonts/Concert_One/ConcertOne-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("./fonts/Roboto/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

html {
    position: relative;
    font-size: 15px;
    overflow-x: hidden;
}

html,
body {
    height: 100%;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: "Roboto-Regular";
    background-color: rgba(245, 245, 245, 1);
    color: rgba(0, 0, 0, 0.87);
}

.hide {
    display: none;
}

input,
select,
a,
i,
button {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

ul,
ol,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    display: block;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
}

.no-select,
img {
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -o-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

.no-scroll {
    overflow: hidden !important;
}

.no-transition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}

.clearfix {
    @include clearfix(false);
}

.break-long-words {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.overflow-y-hidden {
    overflow-y: hidden;
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.overflow-hidden {
    overflow: hidden;
}

.align-left {
    text-align: left !important;
}

.align-right {
    text-align: right !important;
}

.align-center {
    text-align: center !important;
}

.align-middle {
    vertical-align: middle;
}